.container-fluid
  .row
    .col-xs-6
      table.table
        tr
          th
            button.btn.btn-default AngularJS
        tr
          td
          
    .col-xs-6
      table.table
        tr
          th
            button.btn.btn-default ReactJS
        tr
          td
