.hex-wrapper
  .hex-row
    .hex
      .top
      .middle.text-center
        a.link(ng-href="#/article") Article
      .bottom
    .hex
      .top
      .middle.text-center
        a.link(ng-href="#/poem") Translation
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
  .hex-row.even
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
  .hex-row
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
    .hex
      .top
      .middle
      .bottom
